.halloween-contaier {
    width: 210px;
    position: fixed;
    top: 150px;
    z-index: 10000;
}
.halloween-right {
    right: 0px
}
.halloween-left {
    left: 0px;
}
.halloween-box {
    background: #EFEFEF;
}